* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.tela-inicial {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.botaovoltar {
    position: fixed;
    top: 20px;
    left: 20px;
}

.botaovoltar img {
    width: 40px;
    height: auto;
    cursor: pointer;
    filter: brightness(0) invert(1);
}

.imagemlogo {
    margin-left: 17rem;
}

.imagemlogo img {
    width: 280px;
    height: auto;
}

.personagem {
    margin-right: 20rem;
    margin-top: 10rem;
}

.personagem img {
    width: 180px;
    height: auto;
}

.titulo {
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}


.biografia {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.biografia .imagemfundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.biografia .imagemfundo img {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
}

.biografia .conteudo {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin-left: 80px; 
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 30px;
    border-radius: 10px;
}

.biografia .conteudo h3 {
    font-size: 35px;
    margin-bottom: 10px;
    color: red;
}

.biografia .conteudo p {
    font-size: 15px;
    line-height: 1.6;
}
